.map { height: 500px; width: 100%; }
.navbar,
.navbar-item {
  background-color: #fff;
}
.button-footer {
  background-color: transparent;
  color: #fff;
}

.white {
  color: #fff;
}
.green {
  color: #00ff00;
}
.red {
  color: #ff0000;
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}
